h1, nav, footer{
    text-align: center;
}
h1, h3 {
    color: #990000;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #3d3d3d;
}
nav {
    background-color: #000099;
    height: 100px;
}
a, a:visited{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000099;
    border: 1px solid #000000;
}
nav >  a{
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    border-width: 3px;
}

