header a{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background-color: #abf5ff;
    border-style: solid;
    border-width: 1px;
}
body {
    background-color: #7d87ad;
}
h1 {
    text-align: center;
}
h1, h2, li {
    color: #f2ff00;
}
footer {
    text-align: center;
}
a, a:visited{
    color: #0037cf;
    text-decoration: none;
}
